<template>
  <div>
    <input v-model="filterText" placeholder="Search..." style="margin: 15px; border: 3px solid #305be7; border-radius: 5px;">
    <button @click="updatePage" class="upd_btn">Update</button>
      <div class="cards-container">
        <div v-for="feedItem in filteredFeedItems" :key="feedItem.id" class="card" 
            style="width: 38rem; border: 3px solid #09ff00; border-radius: 10px; margin: 15px;" 
            :style="{ opacity: feedItem.isRead? 0.5 : 1 }">
                <div class="card-body">
                  <h5 class="card-title">{{ cleanMessage(feedItem.attributes.message) }}</h5>
                  <p class="card-text">
                    <strong>Autor:</strong> {{ feedItem.attributes.from.first_name }}  {{ feedItem.attributes.from.last_name }}<br>
                    <strong>Created time:</strong> {{ feedItem.attributes.created_at }}
                  </p>
                <button @click="markAsRead(feedItem.id)" :disabled="feedItem.isRead">Readed</button>
                </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      feedItems: [],
      filterText: '',
    };
  },
  async mounted() {
    await this.fetchFeed();
  },
  methods: {
    async updatePage() {
    await this.fetchFeed();
  },
    async fetchFeed() {
      try {
        const response = await fetch('https://api.freelancehunt.com/v2/my/feed', {
          headers: {
            'Authorization': 'Bearer c6f41bfae9696db46587ad89ef8443e9c2e8554c',
          },
        });
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        const data = await response.json();
        this.feedItems = data.data.map(item => ({...item, isRead: false }));
        console.log(this.feedItems);
      } catch (error) {
        console.error('Failed to fetch feed items:', error);
      }
    },
    markAsRead(itemId) {
      this.feedItems.forEach(item => {
        if (item.id === itemId) {
          item.isRead = true;
          // Тут можна виконати запит до сервера для оновлення статусу is_new
          console.log(`Update ${itemId} as read`);
        }
      });
    },
    cleanMessage(message) {
      return message.replace(/<[^>]*>?/gm, '').trim();
    },
  },
  computed: {
    filteredFeedItems() {
      if (!this.filterText) return this.feedItems;
      return this.feedItems.filter(feedItem =>
        feedItem.attributes.message.toLowerCase().includes(this.filterText.toLowerCase())
      );
    },
  },
};
</script>

<style scoped>

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
.card {
    width: 100%;
  }
}

.upd_btn {
  border: 3px solid #305be7; 
  border-radius: 5px;  
  background: #f7d23e;
}

.upd_btn:hover {
  background: #743be6;
  color: #fff;
}

.upd_btn:active {
  background: #e07cdb;
  color: #fff;
}
</style>